.expenses {
  padding: 2rem 1rem;
  background-color: rgb(229 158 158 / 64%);
  margin: auto;
  width: auto;
  max-width: 90%;
  height: -webkit-fill-available;
}
.NoExpenseFound {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: xx-large;
  margin-top: 3rem;
  color: crimson;
}
