.expenses {
  padding: 2rem 0.3rem;
  background-color: rgb(255 248 248);
  margin: auto;
  width: auto;
  max-width: 85%;
  height: 100%;
}
.NoExpenseFound {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: larger;
  margin-top: 3rem;
  color: crimson;
}
