.new-expense__actions button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bolder;
}

.new-expense__controls {
  border: 2px solid #ff005a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  grid-gap: 1rem;
  /* margin-bottom: 2rem; */
  text-align: left;
  padding: 0.8rem;
  background: linear-gradient(45deg, #5e2f2fb3, transparent);
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  min-width: 19rem;
  max-width: 100%;
}

.error {
  color: red;
  margin-top: 10px;
}

@media (min-width: 501px) {
  .input-group {
    display: flex;
    align-items: center;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  button {
    flex: 1;
    margin: 0 5px;
  }
}
